/*===================================
= Css file for InstaBar.js          =
= GPL2 licence                      =
= Created by Alexandre Voiney       =
= V.1 - juillet 2013                =
===================================*/

.insta-link {
  overflow: hidden; }
  .insta-link .insta-pict {
    margin: 0; }
  .insta-link .insta-caption {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    position: absolute;
    display: block;
    bottom: 5px;
    font-size: 12px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    text-align: left;
    color: white;
    width: 100%;
    padding: 8px 10px; }

.insta-link:hover .insta-caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
